@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&family=Nova+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./daisyui.css";

@plugin "@iconify/tailwind4" {
  prefixes: lucide;
}

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #864654;
  --color-secondary: #1e2e48;
  --color-accent: #18253a;
  --color-primaryHover: #1e2e48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Mono", monospace;
}

h1 {
  font-family: "Lexend Peta", sans-serif;
  @apply text-3xl md:text-5xl lg:text-7xl font-bold;
}

h2 {
  font-family: "Lexend Peta", sans-serif;
  @apply text-xl md:text-3xl font-semibold tracking-wide;
}

h3 {
  font-family: "Nova Mono", monospace;
  font-optical-sizing: auto;
  @apply text-base md:text-lg font-semibold;
}

.clip-top {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 70%);
}

.clip-bottom {
  clip-path: polygon(0 60%, 100% 80%, 100% 100%, 0 100%);
}

.clip-top-inverse {
  clip-path: polygon(0 60%, 100% 80%, 100% 100%, 0 100%);
  transform: rotate(180deg);
}

.clip-bottom-inverse {
  clip-path: polygon(0 20%, 100% 0%, 100% 45%, 0 65%);
  transform: rotate(180deg);
}

A7A6A6 .btn {
  @apply inline-block px-5 py-2 rounded-xl font-medium transition-colors duration-300;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primaryHover;
}

.btn-secondary {
  @apply bg-secondary text-black hover:bg-gray-300;
}

#layout-content {
  @apply grow transition-all;
}

.card.square-none {
  border-radius: 0 !important;
}
