@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ac626f;
  --color-secondary: #1e2e48;
  --color-accent: #18253a;
}
